@import "./abstracts/functions";
@import "./abstracts/mixins";
@import "./abstracts/variables";

@import "./element-ui.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: $font-family;
  font-size: map-get($map: $font-size, $key: base);
  color: map-get($map: $text-color, $key: primary);
  min-width: $min-width;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
